<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ng-class="{active: load_page.flowout}">
        <a href="" ui-sref="main.diagnostic.algorithm.flowout" role="tab">Flow Out</a>
    </li>
    <li role="presentation" ng-class="{active: load_page.flowin}">
        <a href="" ui-sref="main.diagnostic.algorithm.flowin" role="tab">Flow In</a>
    </li>
    <li role="presentation" ng-class="{active: load_page.flowtjl}">
        <a href="" ui-sref="main.diagnostic.algorithm.flowtjl" role="tab">Tool Joint Locator</a>
    </li>
</ul>

<div class="tab-content" ui-view>
</div>
