<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>SNR</strong></h1>
    </div>
    <div class="panel-body">
        <canvas id="snr_bar" height="350" width="900"></canvas>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Attenuation</strong></h1>
    </div>
    <div class="panel-body">
        <canvas id="attenuation_bar" height="350" width="900"></canvas>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><strong>Saturation</strong></h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#1</span></div>
                            <div id="saturation_text_1" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_1" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#2</span></div>
                            <div id="saturation_text_2" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_2" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#3</span></div>
                            <div id="saturation_text_3" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_3" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#4</span></div>
                            <div id="saturation_text_4" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_4" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#5</span></div>
                            <div id="saturation_text_5" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_5" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><strong>Saturation</strong></h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#6</span></div>
                            <div id="saturation_text_6" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_6" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#7</span></div>
                            <div id="saturation_text_7" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_7" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#8</span></div>
                            <div id="saturation_text_8" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_8" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#9</span></div>
                            <div id="saturation_text_9" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_9" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#10</span></div>
                            <div id="saturation_text_10" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_10" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><strong>Saturation</strong></h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#11</span></div>
                            <div id="saturation_text_11" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_11" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#12</span></div>
                            <div id="saturation_text_12" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_12" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#13</span></div>
                            <div id="saturation_text_13" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_13" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#14</span></div>
                            <div id="saturation_text_14" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_14" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#15</span></div>
                            <div id="saturation_text_15" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_15" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1 class="panel-title"><strong>Saturation</strong></h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#16</span></div>
                            <div id="saturation_text_16" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_16" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#17</span></div>
                            <div id="saturation_text_17" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_17" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#18</span></div>
                            <div id="saturation_text_18" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_18" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#19</span></div>
                            <div id="saturation_text_19" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_19" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2"><span class="label label-success">#20</span></div>
                            <div id="saturation_text_20" class="col-md-4">No Saturation</div>
                            <div class="col-md-1">
                                <canvas id="saturation_indicator_20" width="80" height="20"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>PowerSpec</strong></h1>
    </div>
    <div class="panel-body">
        <canvas id="powerspec_bar" height="250" width="800"></canvas>
    </div>
</div>-->
