<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <!-- 1G Communication Status -->
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h1 class="panel-title"><strong>1G Communication</strong></h1>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3"><span class="label label-primary">COME</span></div>
                                <div id="come_status_text" class="col-md-4">Connected</div>
                                <div class="col-md-1">
                                    <canvas id="come_status_indicator" width="26", height="26"></canvas>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3"><span class="label label-primary">AFE 1</span></div>
                                <div id="afe1_status_text" class="col-md-4">Connected</div>
                                <div class="col-md-1">
                                    <canvas id="afe1_status_indicator" width="26", height="26"></canvas>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3"><span class="label label-primary">AFE 2</span></div>
                                <div id="afe2_status_text" class="col-md-4">Connected</div>
                                <div class="col-md-1">
                                    <canvas id="afe2_status_indicator" width="26", height="26"></canvas>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3"><span class="label label-primary">AFE 3</span></div>
                                <div id="afe3_status_text" class="col-md-4">Connected</div>
                                <div class="col-md-1">
                                    <canvas id="afe3_status_indicator" width="26", height="26"></canvas>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-3"><span class="label label-primary">AFE 4</span></div>
                                <div id="afe4_status_text" class="col-md-4">Connected</div>
                                <div class="col-md-1">
                                    <canvas id="afe4_status_indicator" width="26", height="26"></canvas>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- RapidIO -->
                        <div class="panel panel-default">
                            <div class="panel panel-heading">
                                <h1 class="panel-title"><strong>RapidIO Communication</strong></h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-3"><span class="label label-primary">RapidIO</span></div>
                                    <div id="rio_status_text" class="col-md-4">Connected</div>
                                    <div class="col-md-1">
                                        <canvas id="rio_status_indicator" width="26", height="26"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- 10G -->
                        <div class="panel panel-default">
                            <div class="panel panel-heading">
                                <h1 class="panel-title"><strong>10G Communication</strong></h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-3"><span class="label label-primary">10G</span></div>
                                    <div id="com10g_status_text" class="col-md-4">Connected</div>
                                    <div class="col-md-1">
                                        <canvas id="com10g_status_indicator" width="26", height="26"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
