<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>BOARD 1</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b1_hvpositive" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b1_hvnegative" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b1_current" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-4"><h4>Low Power</h4></div>
                                        <div id="bd1_text" class="col-md-offset-1 col-md-3" style="color:#46ad00"><h4>PASS</h4></div>
                                        <div class="col-md-2"><canvas id="bd1_pass" width="30" height="30"></div>
                                        <div class="col-md-2"><canvas id="bd1_error" width="30" height="30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>BOARD 2</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b2_hvpositive" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b2_hvnegative" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b2_current" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-4"><h4>Low Power</h4></div>
                                        <div id="bd2_text" class="col-md-offset-1 col-md-3" style="color:#46ad00"><h4>PASS</h4></div>
                                        <div class="col-md-2"><canvas id="bd2_pass" width="30" height="30"></div>
                                        <div class="col-md-2"><canvas id="bd2_error" width="30" height="30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>BOARD 3</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b3_hvpositive" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b3_hvnegative" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b3_current" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-4"><h4>Low Power</h4></div>
                                        <div id="bd3_text" class="col-md-offset-1 col-md-3" style="color:#46ad00"><h4>PASS</h4></div>
                                        <div class="col-md-2"><canvas id="bd3_pass" width="30" height="30"></div>
                                        <div class="col-md-2"><canvas id="bd3_error" width="30" height="30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>BOARD 4</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b4_hvpositive" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b4_hvnegative" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="b4_current" width="500" height="80"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-4"><h4>Low Power</h4></div>
                                        <div id="bd4_text" class="col-md-offset-1 col-md-3" style="color:#46ad00"><h4>PASS</h4></div>
                                        <div class="col-md-2"><canvas id="bd4_pass" width="30" height="30"></div>
                                        <div class="col-md-2"><canvas id="bd4_error" width="30" height="30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
