<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Transducer</strong></h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th ng-repeat="item in transducer_state.slice(0,7)" class="text-center">
                <h4><span class="label label-success">#{{item.index + 1}}</span></h4>
            </th>
        </tr>
        <tr>
            <td ng-repeat="item in transducer_state.slice(0,7)" trsrepeat-finish="init_all_trs('level1')" class="text-center">
                <transducer2></transducer2>
            </td>
        </tr>
    </table>
    <div class="panel-footer"></div>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Middle Layer</strong></h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th ng-repeat="item in transducer_state.slice(10,20)" class="text-center">
                <h4><span class="label label-success">#{{item.index + 1}}</span></h4>
            </th>
        </tr>
        <tr>
            <td ng-repeat="item in transducer_state.slice(10,20)" trsrepeat-finish="init_all_trs('level2')" class="text-center">
                <transducer2></transducer2>
            </td>
        </tr>
    </table>
    <div class="panel-footer"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Lower Layer</strong></h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th ng-repeat="item in transducer_state.slice(20,30)" class="text-center">
                <h4><span class="label label-success">#{{item.index + 1}}</span></h4>
            </th>
        </tr>
        <tr>
            <td ng-repeat="item in transducer_state.slice(20,30)" trsrepeat-finish="init_all_trs('level3')" class="text-center">
                <transducer2></transducer2>
            </td>
        </tr>
    </table>
    <div class="panel-footer"></div>
</div> -->

