<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-6" id="vp_chart0" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart1" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart2" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart3" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart4" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart5" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart6" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart7" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart8" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart9" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart10" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart11" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart12" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart13" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart14" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart15" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart16" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart17" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
        <div class="row">
            <div class="col-md-6" id="vp_chart18" style="height:300px; padding-right:3px; padding-left:3px"></div>
            <div class="col-md-6" id="vp_chart19" style="height:300px; padding-right:3px; padding-left:3px"></div>
        </div>
    </div>
</div>

