<div class="container-fluid">
	<form class="form-horizontal" role="form">
	    <fieldset>
	    	<legend>Data Archive</legend>

            <div class="form-group">
                <label for="start_time" class="col-md-2 control-label">Start Time</label>
                <div class="input-group date form_datetime col-md-5" id="div_start_time">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> -->
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="start_time"/><br/>
            </div>	    	

            <div class="form-group">
                <label for="end_time" class="col-md-2 control-label">End Time</label>
                <div class="input-group date form_datetime col-md-5" id="div_end_time">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> -->
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="end_time"/><br/>
            </div>	  

            <div class="form-group" ng-if="warning_msg!=''">
                <div class="alert alert-danger col-md-offset-2 col-md-5">{{warning_msg}}</div>
            </div>

            <div class="form-group">
            	<div class="input-group col-md-offset-2">
	            	<button class="btn btn-primary" ng-click="start_archive()" ng-disabled="!enable_start_flag">Start Data Archive</button>
            	</div>
            </div>
	    </fieldset>
    </form>

</div>