<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" id="algorithm_configure_flowout" class="active">
        <a href="" ui-sref="main.meter_configure.algorithm.flowout" role="tab">Flow Out</a>
    </li>
    <li role="presentation" id="algorithm_configure_flowin">
        <a href="" ui-sref="main.meter_configure.algorithm.flowin" role="tab">Flow In</a>
    </li>
    <li role="presentation" id="algorithm_configure_flowtjl" >
        <a href="" ui-sref="main.meter_configure.algorithm.flowtjl" role="tab">Tool Joint Locator</a>
    </li>
</ul>

<div class="tab-content" ui-view>
</div>
